// ========= PADRÃO USADO EM TEXTOS ========= //

html h1 {
}
html h2 {
	font-size: 3.2rem;
	font-family: $font-primary;
	font-weight: 900;
	color: $color-heavy-metal;
	line-height: 120%;

	i {
		color: $color-cerulean;
	}

	@include media("<=md_phone") {
		font-size: 1.7rem;
	}
}
html h3 {
	font-size: 2rem;
	font-family: $font-primary;
	color: $color-bandi-blue;

	font-weight: 600;
}
html h4 {
}
html p {
}
