@font-face {
	font-family: "ArcherPro";
	src: url("./fonts/ArcherPro-Book.woff2") format("woff2"), url("./fonts/ArcherPro-Book.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
